body,
html,
#root {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: Arial, sans-serif;
    background-color:#A5BEBA;
    overflow: hidden;
    /* Prevent scrolling */
}

.main-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.left-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 20px;
    width: 25%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 10px;
    box-sizing: border-box;
}

.right-content {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 10px;
    overflow: hidden;
}

.content-wrapper {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 92%;
    box-sizing: border-box;
}

.product-alerts {
    flex-grow: 1;
}

.alerts-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 15px;
    max-height: 300px;
    overflow-y: auto;
}

.alert-item {
    background-color: rgba(255, 255, 255, 0.1);
    margin: 3px 0;
    padding: 3px;
    border-radius: 5px;
}

.time-view {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #A4BC92;
    height: 150px;
    text-align: center;
}

.digital-clock {
    font-size: 70px;
    font-weight: bold;
    color: white;
}

.section {
    margin-bottom: 20px;
    flex-grow: 1;
}

.ListCont {
    border: 5px solid #ccc;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    overflow-x: auto;
}

.horizontal-list {
    background-color: white;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.listItem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 20px;
    margin-right: 20px;
    border: 2px solid #ccc;
    font-size: 24px;
    background-color: #fff;
    white-space: normal;
    color: rgba(0, 0, 0, 0.7);
}

.mostRecent {
    background-color: #EDE4E0;
}

.pastItem {
    background-color: #C8DBBE;
}

.lastItem {
    background-color: #9F8772;
}

.listContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.listStatus {
    background-color: #A5BEBA;
    padding: 5px 10px;
    border-radius: 3px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 24px;
}

.loading,
.error {
    font-size: 24px;
    color: #333;
    text-align: center;
    padding: 20px;
}

.bottom-right {
    position: absolute;
    bottom: 20px;
    right: 20px;
    margin: 0;
}

.logo {
    font-size: 40px;
    color: #074238;
    border: 2px solid #074238;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0;
}

.version {
    font-size: 20px;
    color: #074238;
}
.notification-banner {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 35px;
    z-index: 1000;
    animation: slide-in-out 5s ease-in-out forwards;
}

@keyframes slide-in-out {
    0% {
        top: -50px;
        opacity: 0;
    }

    10% {
        top: 10px;
        opacity: 1;
    }

    90% {
        top: 10px;
        opacity: 1;
    }

    100% {
        top: -50px;
        opacity: 0;
    }
}