body,
html,
#root {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: Arial, sans-serif;
    background-color: aliceblue;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    position: relative;
    padding-top: 20px;
}

.top-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.bottom-left {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.time-view {
    background-color: #A5BEBA;
    padding: 20px;
    border-radius: 5px;
    font-size: 80px;
    font-weight: bold;
    color: black;
}

.bottom-right {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.logo {
    font-size: 40px;
    color: #074238;
    border: 2px solid #074238;
    padding-left: 5px;
    padding-right: 5px;
}

.version {
    font-size: 20px;
    color: #074238;
}

.header {
    font-size: 100px;
    color: black;
    margin-bottom: 20px;
}

.ListCont {
    border: 5px solid #ccc;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    overflow-x: auto;
    /* Enable horizontal scrolling */
    white-space: nowrap;
    /* Prevents wrapping of list items */
}

.horizontal-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.listItem {
    display: inline-block;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: auto;
    padding: 10px 20px;
    /* Adjusted padding */
    margin-right: 20px;
    border-bottom: 2px solid #ccc;
    font-size: 44px;
    background-color: #fff;
    white-space: normal;
    /* Allows text to wrap within each item */
}

.mostRecent {
    background-color: #d4edda;
    /* Green pastel */
}

.pastItem {
    background-color: #fff3cd;
    /* Yellow pastel */
}

.lastItem {
    background-color: #f8d7da;
    /* Red pastel */
}

.listContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listStatus {
    background-color: #A5BEBA;
    padding: 5px 10px;
    /* Adjusted padding */
    border-radius: 3px;
    margin-bottom: 10px;
    /* Adjusted margin */
    font-weight: bold;
    font-size: 44px;
}

.loading,
.error {
    font-size: 48px;
    color: #333;
    text-align: center;
    padding: 20px;
}